{{ partial "header.html" . }}

<h1>#{{ .Title }}</h1>
{{ partial "nav.html" . }}

{{ $allFiles := readDir "static/wallpapers/" }}
{{ $imageFiles := slice }}
{{ range $allFiles }}
  {{ if not (findRE "\\.avif$" .Name) }}
    {{ $imageFiles = $imageFiles | append . }}
  {{ end }}
{{ end }}
{{ $numImages := len $imageFiles }}

<div class="todo">
  <div class="documentos">
  {{ range $index, $element := .Pages.ByDate.Reverse }}
    {{ $imageIndex := 0 }}
    {{ if gt $numImages 0 }}
      {{ $imageIndex = mod $index $numImages }}
    {{ end }}
    {{ $info := index $imageFiles $imageIndex }}
    <div class="post-snippet">
        {{ if $info }}
        <a class="enlace" href="{{ .RelPermalink }}">
          <img src="/wallpapers/{{ $info.Name | replaceRE "(.*)\\.(jpg|jpeg|png|gif)$" "$1.avif" }}" alt="">
        </a>
        {{ end }}
      <div class="desc">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <br>
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
        {{ with .Params.tags }}
        <div class="tech-tags">
          {{ range . }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag">#{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
